@charset "UTF-8";

body {
	background-color:#c0c0c0;
	font-family: georgia;

}

.title {
	position: absolute;
	top: 20%;
	color: #FFFFFF;
	font-size: 30px;
	/* font-family: fantasy; */
	/* font-family: "Times New Roman", Times, serif; */
	font-family: georgia;
	font-weight: bold;

	/* text-align: center; */
}

form {
	position: absolute;
	top: 25%;
	text-align: center;
}

/* .height_input::after {
  content: "kg"; */


/* .weight_input::after {
  content: "kg";
}
 */

  .height_input, .weight_input {
    display: inline-flex;
    align-items: center;
  }

  .unit_height, .unit_weight {
    margin-left: 5px;
  }


.update {
	position: absolute;
	top: 100%;
	right: 12%;

}

.share {
	position: absolute;
	top: 57%;
	right: 59%;
	z-index: 0;
	width: 65px;

}

.logout {
	position: absolute;
	top: 62.5%;
}






/* ログアウトボタンデザイン */
.logout {
  width: 260px;
  height: 35px;
  /* background: #f0eeee; */
  background: #242424;
  border: 1px solid #242424;
  cursor: pointer;
  border-radius: 8px;
  /* color: #736ca1; */
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
/*   text-shadow:
    0 0 0.05em #5AFF19,
    0 0 0.10em #5AFF19,
    0 0 0.15em #5AFF19,
    0 0 0.15em #5AFF19;
  filter: saturate(30%); */
  box-shadow: 0 0 10px #5AFF19;
}

.logout {
  opacity: 0.8;
  text-align: center;
}

.logout :active{
  opacity: 0.6;
}

.logout :focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: rgba(173, 176, 215, 0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.logout:hover {
  color: #5AFF19;
  background-color: #000000;
}

.logout:active {
  color: #5AFF19;
  background-color: #000000;
}



.error-message {
  color: red;
}



/* ダイアログボックス本体のカスタムスタイルを定義 */
.custom-dialog {
	/* 文字の色 */
	color: #ffffff;
	/* 中央揃え */
	text-align: center;
	/*背景色の指定  */
	background-color: #242424;
	/*内余白の指定  */
	padding: 10px;
	/*まわりの線の指定  */
	border: 1px solid #5aff19;
	/*枠の角を丸める  */
	border-radius: 5px;
	/*幅指定  */
	width: 300px;
	/*高さ指定  */
	height: 200px;

	/*場所の指定を相対的にする  */
	position: relative;  							/* absoluteで指定する */
	/*今いる場所の上から30pxの場所へ移動  */
	top: 30px;
	/*今いる場所の左から50pxの場所へ移動  */
	left: 50px;
}

/*右上のバツボタンのスタイル  */
.close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

/*YESボタンのスタイル設定  */
.yes-button {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), inset -7px
		-7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	text-shadow: 2px 2px 3px rgba(255, 255, 255, .5), -4px -4px 6px
		rgba(116, 125, 136, .2);
	outline: none;
}

/*ホバーなどの設定 */
.btn-1 {
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	color: #1fd1f9;
	color:#5aff19;
}

.btn-1:after {
	position: absolute;
	content: " ";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5fe0fd;
	transition: all 0.3s ease;
}

.btn-1:hover {
	background: transparent;
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	color: #fff;
}

.btn-1:hover:after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/*NOボタンのスタイル設定  */
.no_button {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), inset -7px
		-7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	text-shadow: 2px 2px 3px rgba(255, 255, 255, .5), -4px -4px 6px
		rgba(116, 125, 136, .2);
	outline: none;
}
/*ホバーなどの設定 */
.btn-2 {
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	color: #1fd1f9;
	color: red;
}

.btn-2:after {
	position: absolute;
	content: " ";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5fe0fd;
	transition: all 0.3s ease;
}

.btn-2:hover {
	background: transparent;
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	color: #fff;
}

.btn-2:hover:after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}



