@charset "UTF-8";

body {
		background-color:#c0c0c0;

   }

.title {
		color: #FFFFFF;
		text-align: center;
		position: relative;
   }

input[type="button"] {
		display: flex;
		justify-content: center;
   }



