@charset "UTF-8";
body {
	width: 100%;
	height: 100%;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#c0c0c0;
    z-index: 0;
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*戻るボタン*/

.button001{
	position:absolute;
	overflow: visible;
    z-index: 999;
	top: 17px;
	left: 0;
	width: 0;
}

.button001 button {
    background: #eee;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button001 button:after {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid #333333;
    border-bottom: 2px solid #333333;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/*ロゴ*/
img {
    overflow: visible;
    z-index: 999;
    height: auto;
    background: #242424;
    display: flex;
    align-items: center;
    position: absolute;
	top: 1%;
	left: 26%;
	width: 50%;
}

/*registration*/
.title {
	color: #ffffff;
	position:absolute;
	top:15%;
	font-family: "Times New Roman";
	font-size: 35px;
}

/*エラー表示*/
.error-message {
  color: red;
}

.name{
	position:absolute;
	top:22%;
	left:30%;
	width:70%;
}

#user_name_error{
	position:relative;
	margin:0;
}

.mailAddress{
	position:absolute;
	top:30%;
	left:30%;
	width:70%;
}

#mail_address_error{
	position:relative;
	margin:0;
}

.password{
	position:absolute;
	top:38%;
	left:30%;
	width:70%;
}

#password_error{
	position:relative;
	margin:0;
}

.sex{
	position:absolute;
	top:46%;
	left:30%;
	width:70%;
}

.birth{
	position:absolute;
	top:52%;
	left:30%;
	width:70%;
}

#birth_error{
	position:relative;
	margin:0;
}

.height{
	position:absolute;
	top:60%;
	left:30%;
	width:70%;
}

#height_error{
	position:relative;
	margin:0;
}
.weight{
	position:absolute;
	top:68%;
	left:30%;
	width:70%;
}

#weight_error{
	position:relative;
	margin:0;
}

.regist{
	position:absolute;
	top:80%;
	left:45%;
}

/* ダイアログボックス本体のカスタムスタイルを定義 */
.custom-dialog {
	/* 文字の色 */
	color: #ffffff;
	/* 中央揃え */
	text-align: center;
	/*背景色の指定  */
	background-color: #333333;
	/*内余白の指定  */
	padding: 10px;
	/*まわりの線の指定  */
	border: 1px solid #5aff19;
	/*枠の角を丸める  */
	border-radius: 5px;
	/*幅指定  */
	width: 300px;
	/*高さ指定  */
	height: 100px;

	/*場所の指定を相対的にする  */
	position: absolute;  							/* absoluteで指定する */
	/*今いる場所の上から30pxの場所へ移動  */
	top: 82%;
	/*今いる場所の左から50pxの場所へ移動  */
	left: 10%;
}

/*右上のバツボタンのスタイル  */
.close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

/*YESボタンのスタイル設定  */
.yes-button {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), inset -7px
		-7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	text-shadow: 2px 2px 3px rgba(255, 255, 255, .5), -4px -4px 6px
		rgba(116, 125, 136, .2);
	outline: none;
}

/*ホバーなどの設定 */
.btn-1 {
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	color: #1fd1f9;
	color:#5aff19;
}

.btn-1:after {
	position: absolute;
	content: " ";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5fe0fd;
	transition: all 0.3s ease;
}

.btn-1:hover {
	background: transparent;
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	color: #fff;
}

.btn-1:hover:after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/*NOボタンのスタイル設定  */
.no_button {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 50px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), inset -7px
		-7px 10px 0px rgba(0, 0, 0, .1), 7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	text-shadow: 2px 2px 3px rgba(255, 255, 255, .5), -4px -4px 6px
		rgba(116, 125, 136, .2);
	outline: none;
}
/*ホバーなどの設定 */
.btn-2 {
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	color: #1fd1f9;
	color: red;
}

.btn-2:after {
	position: absolute;
	content: " ";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5fe0fd;
	transition: all 0.3s ease;
}

.btn-2:hover {
	background: transparent;
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	color: #fff;
}

.btn-2:hover:after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

